@import "../../global.scss";

.contact{
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    @include mobile{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:  100%;
        height: 100%;
    }
    .left{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-content: center ;
        justify-content: center;
         overflow: hidden;
         margin: 4px auto;
         img{
            width: 60%;
             height: 100%;
             margin : 0 auto;
             @include mobile{
                 
                width:  100%;
                height: 100%;
            }
         }
    }
    .right{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-content: center ;
        justify-content: center;
        margin: 6px auto;
        h2{
            font: size 30px;
            text-align: center;
            @include mobile{
               text-align: center;
            }
        }
        form{
            width: 70%;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            input{
                width: 100%;
                height: 30px;
                margin: 5px 0;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 0 10px;
                font-size: 16px;
                @include mobile{
                    width: 100%;
                    height: 20px;
                }
            }
            textarea{
                width: 100%;
                height: 170px;
                margin: 5px 0;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 0 10px;
                font-size: 16px;
                @include mobile{
                    width: 100%;
                    height: 139px;
                    
                }
            }
            button{
                width: 100%;
                height: 30px;
                color: white;
                background:#16c79a;
                border-radius: 5px; 
                border: none;
                cursor: pointer;

                &:focus{
                    outline: none;
                }
                
            }
            span{
                    font-style: 16px;
                    color: #16c79a;
                }
                @include mobile{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin: 0 auto;
        }
    }
        @include mobile{
            width: 100%
         }
   }
}